@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --grey: #757575;
  --lightGrey: #cfd8dc;
  --black: #1f212b;
  --orange: #ffab40;
  --silver: #e0e0e0;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--lightGrey);
  font-family: "Roboto";
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  background-color: var(--black);
  padding: 2rem;
  border-radius: 1rem;
  width: 300px;
}

.screen {
  background-color: var(--grey);
  box-shadow: inset 2px 3px 5px 0px rgba(0, 0, 0, 0.7);
  border-radius: 0.725rem;
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: center;
  padding: 1rem;
  gap: 0.5rem;
  word-wrap: break-word;
  word-break: break-all;
}

.operation {
  font-size: 1.325rem;
  font-weight: 400;
  text-align: right;
  opacity: 0;
}

.input {
  font-size: 1.625rem;
  font-weight: 600;
  text-align: right;
}

.buttons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 360px;
  grid-gap: 0.5rem;
  width: 300px;
  margin: 1rem 0 0 0;
}

.btn {
  background-color: var(--silver);
  box-shadow: 4px 5px 5px 0px rgb(0 0 0 / 50%);
  font-size: 1.325rem;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-0.2rem);
  transition: all 0.15s ease-in-out;
}

.btn:active {
  transform: translateY(0rem);
}

.cl:hover {
  background: lightcoral;
}

.op {
  background-color: var(--orange);
}

.op:hover {
  background-color: var(--lightGrey);
}

.eq {
  background: rgb(108, 240, 108);
}

.span-2 {
  grid-column: span 2;
  border-radius: 200px;
}
